
<mat-toolbar style="position: relative; z-index: 1100;">
  <button mat-icon-button class="menu-icon"
    aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon"
    aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container fxFlexFill style="position: relative;" fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list *ngIf="!isLoggedIn" class="nav-list">
      <!-- Mostrar cuando el usuario no está logueado -->
      <a mat-list-item (click)="navigateTo('/signup')">Registro</a>
      <a mat-list-item (click)="navigateTo('/login')">Iniciar Sesión</a>

    </mat-nav-list>

    <mat-nav-list *ngIf="isLoggedIn" class="nav-list">
      <!-- Mostrar cuando el usuario está logueado -->

      <a mat-list-item (click)="logOut()">Cerrar Sesión</a>

    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>

</mat-sidenav-container>
