<div class="navbar-container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="navbar">

    <div class="menu-button"> <button mat-fab matTooltip="Primary"
        color="primary"
        aria-label="Example fab with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button></div>
    <div class="menu-button"> <button mat-fab
        matTooltip="Primary"
        color="primary"
        aria-label="Example fab with a heart icon">
        <mat-icon>home</mat-icon>
      </button></div>
    <!--  <div class="menu-button">
      <button mat-fab matTooltip="Primary"
        color="primary"
        aria-label="Example fab with a heart icon">
        <mat-icon>search</mat-icon>
      </button>
    </div> -->
    <br>
