<div class="navbar-container">
  <div class="navbar">
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
      <div>Inicio</div>
    </button>

    <button mat-icon-button>
      <mat-icon>inbox</mat-icon>
      <div>Bandeja de entrada</div>
    </button>

    <button mat-icon-button>
      <mat-icon>star</mat-icon>
      <div>Favoritos</div>
    </button>

    <button mat-icon-button>
      <mat-icon>person</mat-icon>
      <div>Perfil</div>
    </button>

    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
      <div>Configuración</div>
    </button>
  </div>
</div>
