.principal-menu {
  margin-top: 55px;
  width: 90%;
}

.menu-container {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  z-index: 100;

}

.spacer {
  margin-top: 3%;
  height: 5%;

}

.homeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0px 200px 100px 200px;
}

.card {
  box-sizing: border-box;
  display: flex;
  max-width: 320px;
  min-height: 270px;
  background-color: rgba(255, 255, 255, 1);
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 330px;
  /* Espacio entre las tarjetas */
}

.card:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.081);
}

.date-time-container {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 0.5rem;
}

.date-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 1rem;
  gap: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(17, 24, 39, 1);
}

.separator {
  width: 1px;
  flex: 1 1 0%;
  background-color: rgba(17, 24, 39, 0.1);
}

.content {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: space-between;
}

.infos {
  border-left: 1px solid rgba(17, 24, 39, 0.1);
  padding: 1rem;
}

.title {
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
  font-size: 18.72px;
  color: rgba(17, 24, 39, 1);
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  line-clamp: 5;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(55, 65, 81, 1);
}

.action {
  display: block;
  background-color: rgba(253, 224, 71, 1);
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(17, 24, 39, 1);
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.action:hover {
  background-color: rgba(250, 204, 21, 1);
}

/* zona menu desplegable tarjetas */
.tarjeta {
  position: relative;
  width: 300px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  height: 270px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.hidden-menu {
  position: absolute;
  top: 20px;
  right: -120px;
  /* Inicialmente fuera de la tarjeta */
  width: 150px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  opacity: 0;
  /* Inicialmente invisible */
  transition: right 0.3s ease, opacity 0.3s ease;
}

.tarjeta:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta:hover .hidden-menu {
  right: 0;
  opacity: 1;
}

.hidden-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hidden-button:hover {
  background-color: #e0e0e0;
}

/* Menu Inicial */
.menu-principal {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.results hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #ECECEC;
}

.results p {
  padding: 0 20px;
}

p.label {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #5F6368;
}

.results .entry {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  gap: 12px;
  padding: 5px 20px;
  transition: all 0.2s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.results .entry:hover {
  background-color: #F5F8FE;
}

.results .results-list .entry:hover .icon {
  background-color: #1763fa;
}

.results .results-list .entry:hover .icon svg path,
.results .results-list .entry:hover .icon svg circle {
  stroke: #ffffff;
}

.results .results-list .entry:hover label {
  color: #1763fa;
}

.results .results-list .entry:hover span {
  color: #7ba0eb;
}

.results .results-list {
  display: flex;
  flex-direction: column;
}

.results .entry .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ECECEC;
  border-radius: 7px;
  transition: all 0.2s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.results .entry .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.results .entry .desc label {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #171718;
}

.results .entry .desc span {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #72767c;
}


/* loading animation  1*/

.loader {
  position: relative;
  width: 250px;
  height: 130px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  padding: 25px;
  background-color: #e3e3e3;
  overflow: hidden;
}

.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation_2 1.2s linear infinite;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader .wrapper>div {
  background-color: #cacaca;
}


.loader .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loader .line-1 {
  position: absolute;
  top: 15px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loader .line-2 {
  position: absolute;
  top: 40px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loader .line-3 {
  position: absolute;
  top: 67px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loader .line-4 {
  position: absolute;
  top: 93px;
  left: 0px;
  height: 10px;
  width: 92%;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* 404 templates  */

.card-template p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.card-template p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1-template {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1-template:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1-template:hover:before {
  transform: scale(21);
}

.card1-template:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1-template:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

/* archive loading template */
.loaderArchived {
  width: 40px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #000 90%, #0000) 0 / calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

/* Responsive zone  */

@media screen and (min-width: 1440px) and (max-width: 2560px) {

  .homeCards {
    height: 1090px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0px 400px 100px 400px;
  }

}