<div class="card-container">
  <!-- Note Cards -->
  <div class="card" *ngFor="let note of notes; let i = index">
    <div class="date-time-container">
      <time class="date-time">
        <span>{{ note.year }}</span>
        <span class="separator"></span>
        <span>{{ note.month }}</span>
      </time>
    </div>
    <div class="content">
      <div class="infos">
        <a href="#">
          <span class="title">
            {{ note.title }}
          </span>
        </a>
        <p class="description">
          {{ note.content }}
        </p>
      </div>
      <a class="action">
        {{ note.category }}
      </a>
    </div>
  </div>
</div>
<br>
<!-- <app-notes-menu></app-notes-menu>
 -->
